<section
    class="flex flex-col items-center w-full bg-[#F6F9FF] p-5 pt-16 pb-16 gap-8 md:py-12 lg:py-14 lg:gap-12 xl:py-16 xl:gap-8 2xl:py-20">
    <h2
        class="font-['Geologica'] font-semibold text-[20px] leading-[25px] tracking-[0.5px] text-[#001528] w-full text-center md:text-[28px] md:leading-[36px] lg:text-[30px] xl:text-4xl 2xl:text-[40px]">
        Sigue nuestro viaje
    </h2>

    <nav aria-label="Enlaces de contacto y redes sociales">
        <div class="flex flex-row justify-center items-center gap-[24px] w-full">

            <a href="mailto:hello@mooncode404.com"
                class="box-border flex justify-center items-center w-[48px] h-[48px] bg-white border border-gray-medium rounded-full md:size-14 xl:size-16 2xl:size-20"
                aria-label="Enviar correo electrónico a Moon Code 404">
                <span class="material-symbols-outlined text-[24px] text-blue-light leading-none xl:text-[28px] 2xl:text-[36px]">
                    mail
                </span>
            </a>

            <a href="https://wa.me/TUNUMEROTELEFONICO?text=Hola,%20me%20gustaría%20saber%20más%20sobre%20sus%20servicios."
                target="_blank" rel="noopener noreferrer"
                class="box-border flex justify-center items-center w-[48px] h-[48px] bg-white border border-gray-medium rounded-full md:size-14 xl:size-16 2xl:size-20"
                aria-label="Contactar a Moon Code 404 por WhatsApp">
                <!-- <span class="text-[24px] text-blue-light leading-none xl:text-[28px] 2xl:text-[36px]"></span> -->
                <img ngSrc="/img/whatsapp-brand.svg" width="28" height="28" class="size-7 xl:size-8 2xl:size-[38px]" NgOptimizedImage/>
            </a>
        </div>
    </nav>
</section>