<section class="flex flex-col items-center w-full min-h-dvh md:min-h-full bg-gray-light p-5 pt-9 pb-28 gap-8 text-center md:pt-12 md:pb-20 lg:pt-14 lg:pb-24 xl:pt-16 xl:pb-28 2xl:pt-20 2xl:pb-32"
    role="banner">

    <!-- <div class="flex justify-center items-center size-[60px] text-blue-primary" aria-hidden="true">
    <span class="material-symbols-outlined text-[60px] leading-none">
      bedtime
    </span>
  </div> -->
    <span class="material-symbols-outlined !text-6xl text-blue-primary md:text-[56px] lg:text-[64px] xl:text-7xl"
        aria-hidden="true">
        bedtime
    </span>

    <div class="flex flex-col items-center gap-8 md:max-w-[580px] lg:max-w-[732px] xl:max-w-[926px] 2xl:max-w-[1246px]">
        <h1
            class="font-semibold text-[40px] leading-[50px] text-blue-dark w-full md:text-4xl lg:text-5xl lg:leading-[52px] xl:text-[64px] xl:leading-[72px] 2xl:text-7xl">
            “Una identidad sin presencia online es un secreto bien guardado”
        </h1>

        <p
            class="font-medium text-lg leading-[22px] text-blue-light w-full md:text-base lg:text-lg xl:text-[20px] xl:leading-tight xl:max-w-[610px] 2xl:text-2xl 2xl:max-w-[772px]">
            Te ayudamos a construir una marca que inspire, conecte y te abra nuevas oportunidades
        </p>
    </div>

    <a href="https://calendly.com/mooncode404/agenciaconsultora" target="_blank" rel="noreferrer"
        aria-label="Agenda una asesoría"
        class="flex items-center justify-center w-full h-14 bg-blue-dark rounded-lg md:max-w-[352px] lg:max-w-[232px] xl:max-w-[454px] 2xl:max-w-[446px] 2xl:h-24"
        role="button">
        <span class="font-medium text-base text-white 2xl:text-2xl">
            Agenda una asesoría
        </span>
    </a>
</section>